.sectionForm {
  text-transform: uppercase;
  font-style: italic;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: #f7f7f7;
  margin: 30px auto;
  border-radius: 20px;
}

.sectionForm h3 {
  font-size: 22px;
  margin: 20px 50px;
}

.sectionForm form {
  width: 100%;
}

.sectionForm form div {
  display: flex;
  flex-direction: column;

  margin: 20px 50px;
}

.sectionForm form div label {
  margin-bottom: 10px;
}

.sectionForm form div input, select {
  padding: 25px;
  
  border: none;
  box-shadow: 1px 1px 30px rgb(0 0 0 / 10%);
}

.submit-btn {
  background-color: #f5a11b;
  cursor: pointer;

  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;

  padding: 20px;
  border: none;
  margin: 20px 50px;
}

.submit-btn:hover {
  transform: scale(1.075);
  transition: 0.1s;
}