.teams {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  margin: 0 auto;
  padding: 30px 0;
}

.team-title {
  width: 100%;
  text-align: center;
  color: red;
  font-size: 22px;
}

.team-border {
  border-bottom: 4px solid;
  margin: 0 45%;
  width: 32px;
}

.card {
  width: 12%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
  background-color: #f7f7f7;;

  border-radius: 20px;
}

.card-header {
  width: 100%;
  height: 90px;
  
  padding-top: 20px;
  border-radius: 20px 20px 0 0;
}

.card div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card div img {
  width: 140px;
  height: 115px;
  border-radius: 50%;
}

.card-img {
  width: 200px;
  margin-top: 40px;
}

.card-footer {
  height: 150px;

  display: flex;
  align-items: center;

  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

.hero-name {
  font-size: 22px;
  margin-bottom: 5px
}

.hero-function {
  font-size: 16px;
  margin-top: 0
}

.team-error {
  width: 100%;

  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: red;
}
